html, body {
    background-color: #70CF51;
    font-family: 'Press Start 2P', cursive;
    overflow:hidden;
    margin:0px; padding:0px;
    background-image: url('../images/grass.png');
    background-repeat: repeat;
    color:white;
    font-size:22px;
}

body * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    overflow:hidden;
    background-repeat: no-repeat;
}

game {
    width:100%; height:100%;
}

tank {
    width: 100px; height: 70px;
    background-image: url('../images/tank.png');
    background-size: contain;
    transform-origin: center;
}

/* hide live preview script */
script {
    display:none !important;
}